@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background: url('./pokedex.jpg');
}